:root {

     /*Cores de Fundo*/

     --cordefundoda-pagina: #333333;
    --cordefundodo-nav:black;
    --corfundofoto-cinza: grey;



}


body {
    background-color: var(--cordefundoda-pagina);
}


.titulo{

    text-align: center;
    color: white;
    margin: 0 auto;
    margin-right: 20px;
}


nav{

    margin: 0 auto;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cordefundodo-nav);
    box-shadow: 2px 2px 5px var(--corfundofoto-cinza);
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 2.25rem 1.5rem;
}

main {

    width: 80vw;
    margin: 0 auto;

}

.texto_sobre{

    margin: 1.75rem;


}

#sobre{

    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    text-align: justify;


}

.img{

    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px  var(--corfundofoto-cinza);
    margin-top: 1rem;
}

#video{

    width: 300px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
}

#logo{

    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: flex;

    
}